{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Información</span>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Si quieres conocer más acerca del tema</p>
          <br>
          <p><b>Teléfono:</b> +09 6568954</p>
          <p><b>Honorarios:</b> 5€/h (precio base)</p>
        </div>
      </div>
    </div>
{% endblock %}